@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color:inherit;
  font-size:16px;
  font-weight:normal;
  font-family: 'M PLUS 1p', sans-serif;
}

.sidebar {
  position: fixed;/* 動画見て追記 */
  left:0;/* 動画見て追記 */

  width: 250px;/* max-width -> widthに修正 */
  background-color:rgb(75, 48, 8);
  color:white;
  height: 100vh;

}
.sidebar header {
  text-align: center;
  font-size:22px;/* 動画見て追記 */
  line-height: 70px;/* 動画見て追記 */
  padding: 16px 0px;
  user-select: none;
  background-color: rgb(122, 88, 38);
}

.sidebar ul li a {
  /* ulをブロック要素にしちゃダメ。
  aタグをブロック要素にすれば、aにmarginとpaddingがかかる.
  box-sizingはborder-boxなので、リンクとして反応するのは、paddingの部分.
  (marginは反応しない) */
  display: block;/* .sidebar ul liに対してやっていたが、aタグをblockに修正 */
  height: 100%;
  width: 100%;
    /*margin-left: 20px;でやっていたが、これだとクリックできない。paddingが良い*/
  padding-left: 20px;
  /* padding: 20px 0;(line-heightに修正。どっちでもいい） */
  line-height: 65px;
  font-size:20px;/* 動画見て追記 */
  border-top:1px solid rgba(255, 255, 255, 0.1);
  border-bottom:1px solid black;
}

/* a:hover って間違えた */
.sidebar ul li:hover a{


}
